{% extends 'Base/Base.html' %}
{% block title %}
	بازیابـی کلمـه عبـور
{% endblock %}
{% block content %}

	<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="forget-password">
					<div class="col-sm-10">
						<div class="login-form"><!--Recovery form-->
							<h2>لطفاً آدرس ایمیـل خود را وارد نماییـد :</h2>
							<form action="" method="post">
                                {% csrf_token %}
								{{ forgot_form }}
								<button type="submit" class="btn btn-default">بازیابـی کلمـه عبـور</button>
								<span>یک ایمیـل حاوی لینک بازیابی کلمـه عبـور برای شما ارسال خواهـد شد</span>

							</form>
                            <dev class="clearfix">
                                <form action="">
                                <h2>اطلاعات حساب خود را به یاد آوردید ؟! </h2>
                                <a href="{% url 'login.auth.page' %}"><button type="submit" class="btn btn-default">ورود</button></a>
                                    </form>
                            </dev>
                            <dev class="alert-danger">
                                {{ forgot_form.errors }}
                            </dev>

						</div><!--/Recovery form-->
					</div>



				</div>
			</div>
		</section>
	</div>
{% endblock %}
