{% extends 'Base/Base.html' %}
{% block title %}
	ورود به سایت
{% endblock %}
{% block content %}

	<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="login-form"><!--login form-->
                        {% if status is not None %}
                            <div class="alert alert-success">
                                <p>
                                    {{ status }}
                                </p>
                            </div>
                        {% endif %} 
						<h2>ورود به حساب کاربـری :</h2>
						<form action="" method="post">
                            {% csrf_token %}
                            {{ login_form }}
{#							<span>#}
{#								<input type="checkbox" class="checkbox"> #}
{#								مرا بخاطـر بسپـار#}
{#							</span>#}
							<span>
								<a href="{% url 'forgot.pass.auth.page' %}">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
							<button type="submit" class="btn btn-default">ورود</button>
						</form>
                        <div class="alert-danger">
                        {{ login_form.errors }}</div>
					</div><!--/login form-->
				</div>
			</div>
		</section>
	</div>
	<!--/form-->
{% endblock %}

	
