{% extends 'Base/Base.html' %}
{% load thumbnail %}
{% load render_partial %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block content %}

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">{{ blog.title }}</h2>
                        <div class="single-blog-post">
                            <h3>{{ blog.title }}</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i> {{ blog.author.username }}</li>
                                    <li><i class="fa fa-clock-o"></i> {{ blog.get_jalali_create_time }}</li>
                                    <li><i class="fa fa-calendar"></i>{{ blog.get_jalali_create_date }}</li>
                                </ul>
                            </div>
                            <a href="">
                                {% thumbnail blog.img '862x398' crop="center" as img %}
                                    <img src="{{ img.url }}" alt="">
                                {% endthumbnail %}
                            </a>
                            <p>{{ blog.description }}</p>

                        </div>
                    </div><!--/blog-post-area-->

                    <div class="rating-area">

                        <ul class="tag">
                            <li>برچسب :</li>
                            {% for cat in blog.select_categories.all %}
                                <li><a class="color"
                                       href="{% url 'category.blog.list' slug=cat.url_title %}">{{ cat.title }}
                                    <span>/</span></a></li>

                            {% endfor %}


                        </ul>
                    </div><!--/rating-area-->


                    <div class="media commnets">
                        <a class="pull-right" href="#">
                            {% if blog.author.avatar %}
                                {% thumbnail blog.author.avatar '150x150' crop="center" as img %}
                                    <img src="{{ img.url }}" alt="">
                                {% endthumbnail %}

                            {% endif %}
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">نویسنده {{ blog.author.get_full_name|title }}</h4>
                            <p>{{ blog.author.about_user }}</p>
                            <div class="blog-socials">
                                {#                                <ul>#}
                                {#                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>#}
                                {#                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>#}
                                {#                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>#}
                                {#                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>#}
                                {#                                </ul>#}
                                {#                                <a class="btn btn-primary" href="">سایـر مطالب نویسنده</a>#}
                            </div>
                        </div>
                    </div><!--Comments-->
                    <div class="response-area" id="response_area">
                        <h2>پاسخ ها ({{ comment_count }})</h2>
                        <ul class="media-list">
                            {% for comment in comments %}
                                <li class="media">
                                    <a class="pull-right" href="#">
                                        {% thumbnail comment.user.avatar '150x150' crop="center" as img %}
                                            <img src="{{ img.url }}" alt="">
                                        {% endthumbnail %}
                                    </a>
                                    <div class="media-body">
                                        <ul class="sinlge-post-meta">
                                            <li><i class="fa fa-user"></i>{{ comment.user.username|title }}</li>
                                            <li><i class="fa fa-clock-o"></i>{{ comment.get_jalali_create_time }}</li>
                                            <li><i class="fa fa-calendar"></i>{{ comment.get_jalali_create_date }}</li>
                                        </ul>
                                        <p>{{ comment.text }}</p>

                                        <a class="btn btn-primary" href="#bottom"><i
                                                class="fa fa-reply" onclick="fillParentForComments({{ comment.id }})"></i>پاسـخ</a>
                                    </div>
                                </li>
                                {% for sub_comment in comment.children.all %}
                                    {% if sub_comment.is_active and not sub_comment.is_delete %}
                                        <li class="media second-media }">
                                            <a class="pull-right" href="#">
                                                {% thumbnail sub_comment.user.avatar '150x150' crop="center" as img %}
                                                    <img src="{{ img.url }}" alt="">
                                                {% endthumbnail %}
                                            </a>
                                            <div class="media-body">
                                                <ul class="sinlge-post-meta">
                                                    <li><i class="fa fa-user"></i>{{ sub_comment.user.username|title }}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-clock-o"></i>{{ sub_comment.get_jalali_create_time }}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i>{{ sub_comment.get_jalali_create_date }}
                                                    </li>
                                                </ul>
                                                <p>{{ sub_comment.text }}</p>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}


                        </ul>
                    </div><!--/Response-area-->
                    {% if request.user.is_authenticated %}

                        <div class="replay-box" id="bottom">
                            <div class="row">
                            
                                <div class="col-sm-12">
                                    <div class="text-area border-box-sizing">
                                        <div class="blank-arrow">
                                            <label>متن پیام</label>
                                        </div>
                                        <span>*</span>
                                        <textarea name="message" id="ssmmdd" rows="11"></textarea>
                                        <input type="hidden" id="parentforcomments">
                                    </div>
                                    <div id="sucess_comment" class=""></div>
                                    <a class="btn btn-primary btn-block " onclick="sendArticleComment({{ blog.id }})">ارسـال نظـر</a>
                                    

                                </div>
                                <div class="col-sm-4 hidden">
                                    <h2>نظـر خود را بنویسیـد</h2>
                                    <form>
                                        <div class="blank-arrow">
                                            <label>نام</label>
                                        </div>
                                        <span>*</span>
                                        <input type="text" id="username" value="{{ request.user.username }}"
                                               placeholder="نام شما ...">
                                        <div class="blank-arrow">
                                            <label>آدرس ایمیـل</label>
                                        </div>
                                        <span>*</span>
                                        <input type="email" id="email" value="{{ request.user.email }}"
                                               placeholder="ایمیـل شما ...">
                                    </form>
                                </div>
                            </div>
                        </div><!--/Repaly Box-->
                    {% else %}
                        <div class="alert alert-danger">
                            برای درج نظر باید وارد سایت بشوید
                        </div>
                    {% endif %}


                </div>

                {% render_partial 'Eshop_Blog.views.Blog_Category_Partial' %}


            </div>
        </div>
    </section>
{% endblock %}

