{% extends 'Base/Base.html' %}
{% load thumbnail %}
{% load jalali_tags %} 
{% load render_partial %}
{% block title %}
    آخریـن مقالات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن مقالات</h2>
                        {% for blog in blogs %}
                            <div class="single-blog-post">
                                <h3>{{ blog.title|title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i>{{ blog.author.username }}</li>
                                        <li><i class="fa fa-clock-o"></i> {{ blog.get_jalali_create_time }}</li>
                                        <li><i class="fa fa-calendar"></i>{{ blog.get_jalali_create_date }}</li>
                                    </ul>
                                    <span>
{#                                    <i class="fa fa-star"></i>#}
{#                                    <i class="fa fa-star"></i>#}
{#                                    <i class="fa fa-star"></i>#}
{#                                    <i class="fa fa-star"></i>#}
{#                                    <i class="fa fa-star-half-o"></i>#}
                            </span>
                                </div>
                                <a href="">
                                    {% thumbnail blog.img '862x398' crop="center" as img%}
                                    <img src="{{ img.url }}"  alt="">
                                    {% endthumbnail %}
                                </a> 
                                <p>{{ blog.short_description }}</p>
                                <a class="btn btn-primary" href="{% url 'detail.blog.list' slug=blog.slug %}">ادامـه مطلب</a>
                            </div>

                        {% endfor %}




                        <div class="clearfix"></div>
                        <ul class="pagination bottom-right">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"> قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                <li class="{% if page_obj.number == page %}active {% endif %}"><a
                                        href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"> بعدی </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            {% render_partial 'Eshop_Blog.views.Blog_Category_Partial' %}

            </div>
        </div>
    </section>
{% endblock %}

	
