{% load thumbnail %}

<h2>پاسخ ها ({{ comment_count }})</h2>
<ul class="media-list">
    {% for comment in comments %}
        <li class="media">
            <a class="pull-right" href="#">
                {% thumbnail comment.user.avatar '150x150' crop="center" as img %}
                    <img src="{{ img.url }}" alt="">
                {% endthumbnail %}
            </a>
            <div class="media-body">
                <ul class="sinlge-post-meta">
                    <li><i class="fa fa-user"></i>{{ comment.user.username|title }}</li>
                    <li><i class="fa fa-clock-o"></i>{{ comment.get_jalali_create_time }}</li>
                    <li><i class="fa fa-calendar"></i>{{ comment.get_jalali_create_date }}</li>
                </ul>
                <p>{{ comment.text }}</p>

                <a class="btn btn-primary" href="#bottom"><i
                        class="fa fa-reply" onclick="fillParentForComments({{ comment.id }})"></i>پاسـخ</a>
            </div>
        </li>
        {% for sub_comment in comment.children.all %}
            {% if sub_comment.is_active and not sub_comment.is_delete %}
                <li class="media second-media }">
                    <a class="pull-right" href="#">
                        {% thumbnail sub_comment.user.avatar '150x150' crop="center" as img %}
                            <img src="{{ img.url }}" alt="">
                        {% endthumbnail %}
                    </a>
                    <div class="media-body">
                        <ul class="sinlge-post-meta">
                            <li><i class="fa fa-user"></i>{{ sub_comment.user.username|title }}
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>{{ sub_comment.get_jalali_create_time }}
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i>{{ sub_comment.get_jalali_create_date }}
                            </li>
                        </ul>
                        <p>{{ sub_comment.text }}</p>
                    </div>
                </li>
            {% endif %}
        {% endfor %}

    {% endfor %}


</ul>