{% extends 'Base/Base.html' %}
{% load render_partial %}
{% block title %}
    لیست محصولات
{% endblock %}

{% block content %}
    {#	<section id="advertisement">#}
    {#		<div class="container">#}
    {#			<img src="../static/images/shop/advertisement.jpg" alt="" />#}
    {#		</div>#}
    {#	</section>#}

    <section>
        <div class="container">
            <div class="row">

                    <div class="col-sm-9 padding-right">
                                    {% if Products_List %}
                        <div class="features_items"><!--features_items-->
                            <h2 class="title text-center">محصولات عمده</h2>
                            {% for Product in Products_List %}
                                {% include 'Eshop_Product/includes/Product_Item_partial.html' with Product=Product %}
                            {% endfor %}

                            <div class="clearfix"></div>
                            <ul class="pagination bottom-right">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}"> قبلی</a></li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    <li class="{% if page_obj.number == page %}active {% endif %}"><a
                                            href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}"> بعدی </a></li>
                                {% endif %}
                            </ul>
                        </div><!--features_items-->

                    {% else %}
                    <div class="alert alert-warning">
                    <p>
                        هیچ محصولی یافت نشد
                    </p>
                    </div>

                {% endif %}
</div>
                {% render_partial 'Eshop_Product.views.Product_categories_partial' S_Price=S_Price E_Price=E_Price %}


            </div>
        </div>
    </section>

{% endblock %}